<%- include('p_header')%>
    <div class="container">
        <script>
            setTimeout(function(){
               window.location.href = 'https://workmapv2.herokuapp.com/login';
            }, 3000);
         </script>
         <div class="card bg-success col-12" >
           <div class="card-body text-light">Password Change Success, Redirecting in 3 seconds</div>
       </div>
    </div>
      
   </body>
</html>