<%- include('p_header') -%>

<%- include('navbar') -%>

<div class="container-fluid">
    <div class="row">
        <%- include('admin_sidebar') -%>
        
    </div>
</div>



<%- include('p_footer') -%>